<!DOCTYPE html>
<html>
    <head>
        <title>Wagtail Shell Frame</title>
    </head>
    <body>
        <script>
            window.addEventListener("message", (event) => {
                document.open();
                document.write(event.data.html);
                document.close();

                // JavaScript API
                window.navigate = (url) => {
                    parent.postMessage({
                        id: event.data.frameId,
                        type: 'navigate',
                        url,
                    }, "*");
                };
                window.openModal = (url) => {
                    parent.postMessage({
                        id: event.data.frameId,
                        type: 'open-modal',
                        url,
                    }, "*");
                };

                const onClickAElement = (e) => {
                    e.preventDefault();
                    const link = e.currentTarget;
                    let url;

                    // Don't ajaxify download links
                    if (link.hasAttribute('download')) {
                        return
                    }

                    // Get href
                    let href = link.getAttribute('href');
                    if (href) {
                        if (href.startsWith('#')) {
                            // TODO
                        }

                        if (href.startsWith('?')) {
                            url = event.data.path + href;
                        } else {
                            url = href;
                        }
                    } else {
                        url = event.data.path;
                    }

                    if (link.target === '_modal') {
                        window.openModal(url);
                    } else {
                        parent.postMessage({
                            id: event.data.frameId,
                            type: 'navigate',
                            url,
                        }, "*");
                    }
                };

                const onSubmitFormElement = (e) => {
                    e.preventDefault();
                    const form = e.currentTarget;

                    // Get action URL
                    // Note: Don't use form.action here as some forms have an action field!
                    // Note: If action is not specified, fall back to the current pathname with any existing GET parameters removed
                    const action = form.getAttribute('action') || event.data.path.split('?')[0];

                    const method = form.getAttribute('method');
                    const isPost = method && method.toLowerCase() == 'post';
                    const data = new FormData(form);

                    // Add value of clicked submit button to form data
                    if (e.submitter.value) {
                        data.set(e.submitter.name, e.submitter.value);
                    }

                    parent.postMessage({
                        id: event.data.frameId,
                        type: 'submit-form',
                        action,
                        method: isPost ? 'post' : 'get',
                        data,
                    }, "*");
                };

                const onLoad = () => {
                    // Messages that are generated on GET requests are passed through
                    // as "banners". These need to be manually reinserted to appear
                    // at the top.
                    // Messages that are generated on POST requests are treated as
                    // toast messages and handled by the shell.
                    event.data.banners.forEach((banner) => {
                      const liTag = document.createElement('li');
                      liTag.classList = banner.level;
                      if (banner.html) {
                        liTag.innerHTML = banner.html;
                      } else {
                        liTag.innerText = banner.text;
                      }
                      document.querySelector("[data-w-messages-target]").appendChild(liTag);
                    });

                    // Insert a <base target="_parent"> tag into the <head> of the iframe
                    // This makes it open all links in the main window
                    const baseElement = document.createElement('base');
                    baseElement.target = '_parent';
                    baseElement.href = event.data.path,
                    document.head.appendChild(baseElement);

                    // Ajaxify links
                    const processLink = (link) => {
                        link.addEventListener('click', onClickAElement);
                    };

                    // Ajaxify forms
                    // Note: Some forms are submitted through ajax anyway, we don't care about those
                    // We only want to ajaxify forms that will otherwise reload the page
                    const processForm = (form) => {
                        form.addEventListener('submit', onSubmitFormElement);
                    }

                    // Set up elements that are in the initial response and set them up
                    Array.from(document.links).forEach(processLink);
                    Array.from(document.forms).forEach(processForm);

                    // Create an observer to listen for new links and forms
                    const observer = new MutationObserver((mutationsList, observer) => {
                        // Use traditional 'for loops' for IE 11
                        mutationsList.forEach(mutation => {
                            if (mutation.type === 'childList') {
                                mutation.addedNodes.forEach(node => {
                                    if (node instanceof HTMLElement) {
                                        node.querySelectorAll('a[href]').forEach(processLink);
                                        node.querySelectorAll('form').forEach(processForm);
                                    }
                                })
                            }
                        })
                    });

                    // Start observing the target node for configured mutations
                    observer.observe(document.body, { attributes: false, childList: true, subtree: true });

                    parent.postMessage({
                        id: event.data.frameId,
                        type: 'load',
                        title: document.title,
                    }, "*");
                };

                // Wait for the new content to render
                // Note that DOMContentLoaded would've already fired at this point
                function waitForContent() {
                  if (document.querySelector(".content-wrapper")) {
                    onLoad();
                  } else {
                    requestAnimationFrame(waitForContent);
                  }
                }
                requestAnimationFrame(waitForContent);
            }, false);
        </script>
    </body>
</html>
